footer {

    text-align: center;
    align-items: center;
    background-color: rgb(154, 179, 179);
 margin: 0%;
 padding: 0%;  
 
}

.row {
margin: 0%;
margin: auto;
  box-sizing: border-box;
  padding: 0%;
  background-image: url(../pSages/img/v748-toon-111.jpg);
  background-size: auto;
  background-position: 100%;

}



